body {
  background: url("https://thumbs.dreamstime.com/z/modern-android-robot-familiy-neighborhood-home-illustration-family-scene-you-can-mom-dad-their-young-boy-45111506.jpg") no-repeat;
  background-size: cover;
  background-color: HSL(50, 50%, 88.2%);
  justify-content: center;
}

img {
  opacity: 0.5;
}

p {
  color: rgb(0, 255, 55);
  justify-content: center;
}

span{
  color: rgb(228, 238, 229);
}